* {
    margin: 0;
    padding: 0;
}
.references {
   text-align: center;
border: 2px solid #000;
    width: 96%;
    margin: 24px auto;
    padding: 24px;
    
}
.references > section {
    display: inline-block;
}
.references > section > div.photo {
   width: 96px;
    height: 96px;
    margin: 9px auto;
    border-radius: 96px; 
    background-color: #ccc;
}
.references > section > strong {
    font: 700 18px/24px comic sans ms; 
    text-transform: uppercase;
}
.references > section > p {
    font: 400 16px/24px comic sans ms;
    color: #333;
}
.references > section > span {
    font: 400 16px/24px comic sans ms;
    
}




.professional {
    text-align: center;
}

.professional > section {
    display: inline-block;
    width: 32%;
    border-left: 2px solid #000;
    vertical-align: top;
    padding: 12px
    
}
.professional > section:first-of-type {
    border-left: none;
    text-align: left;
}
.professional > section > h2 {
    font: 900 18px/24px comic sans ms;
    text-align: center;
    margin: 0 0 24px 0;
    text-transform: capitalize;
    
    
}
.employment {
    text-align: left
}
.employment > div {
    
}
.employment > div > p {
    
}
.employment > div > .date {
    font: 580 18px/18px arial;
} 
.employment > div > .company {
    font: 480 14px/14px arial;
}
.employment > div > .position {
    font: 480 14px/14px arial;
}

.employment > div > .manager {
    font: 480 14px/14px arial;
}



.skills {
    text-align: left;
}
.skills > strong {
    font: 700 16px/18px arial;
}
.skills > div {
    height: 36px;
    border: 2px solid #000;
    border-radius: 96px;
}
.skills > div > span {
    display: block;
    background-color: #f16;
    height: 32px;
    border-radius: 96px;
    border: 2px solid #fff;
    
}

.professional > section.projects {
    display: block;
    margin: 0 auto;
    max-width: 540;
    width: 100%;
}
.projects > img {
    width: 100%;
    
}
.personal {
    text-align: center;
}
.personal > section {
    float: left;
    vertical-align: top;
    max-width: 49%;
    width: 50%
}
.personal > section > h3 {
    font: 700 16px/18px arial;
}
.personal > section > ul > li {
    color: #000;
    list-style: none;
    border: 1px solid #000;
    border-radius: 96px;
    padding: 12px;
    max-width: 90%;
    
}
.personal > div {
    margin: 0 auto 9px auto;
    clear: both;
}
.personal > div > h2 {
    
}
.personal > div > p {
    
}
.academic {
    padding: 48px;
    text-align: center;
}
.academic > h2 {
    font: 700 72px/72px arial;
    margin: 0 0 24px 0;
    padding: 12px 48px;
    background: #f16;
    border-radius: 96px;
}
.academic > ul {
    max-width: 420px;
    margin: 0 auto;
    list-style: none;
    
}
.academic > ul > li {
    position: relative;
    font: 10 18px/18px arial;
    left: -6px;
    top: 18px;
    
}
.academic > ul > li:before {
    position: absolute
    left: -6px;
    top: 18px;
    content: '\0a00'
    
}